@model EcoReservasEN.Lugares

@{
    ViewData["Title"] = "Delete";
}


<h3>Estas seguro de eliminar este lugar?</h3>
<div class="card">
    <div class="card-body">
        
            <h5 class="card-title">@Model.Nombre</h5>
        <div class="imagenes-container">
            <img src="@Model.ImagenUrl" class="ImagenesDetalladas">
            <img src="@Model.URL2" class="ImagenesDetalladas">
            <img src="@Model.URL3" class="ImagenesDetalladas">
        </div>
            <hr class="separador" />
            <p class="card-text">Dirección: @Model.Direccion</p>
            <p class="card-text">Capacidad: @Model.Capacidad</p>
            <p class="card-text">Descripción: @Model.Descripcion </p>
            <p class="card-text">Requisitos:@Html.Raw(Model.Requisitos) </p>
            <p class="card-text">Normativas:@Html.Raw(Model.Normativas) </p>
    </div>
</div>

  <div class="center">
    <form asp-action="Delete" asp-controller="Lugares">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">Cancelar</a>
    </form>
  </div>
    

