@model EcoReservasEN.Lugares

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles del lugar</h1>

<div class="card">
    <div class="card-body">
        <input asp-for="Id" type="hidden" />

            <h5 class="card-title">@Model.Nombre</h5>
        <div class="imagenes-container">
            <img src="@Model.ImagenUrl" class="ImagenesDetalladas">
            <img src="@Model.URL2" class="ImagenesDetalladas">
            <img src="@Model.URL3" class="ImagenesDetalladas">
        </div>
            <hr class="separador" />
            <p class="card-text">Dirección: @Model.Direccion</p>
            <p class="card-text">Capacidad: @Model.Capacidad</p>
        <p class="card-text">Descripción:@Html.Raw(Model.Descripcion) </p>

        <hr class="separador" />
        <div class="center">
            <div class="cardReglas">
                <div class="cardRyM">
                    <p class="card-text">Requisitos: @Html.Raw(Model.Requisitos)</p>
                </div>
                <div class="cardRyM">
                    <p class="card-text">Normativas: @Html.Raw(Model.Normativas)</p>
                </div>
            </div>
        </div>
       
       
        

    </div>
</div>
<div class="center">
    
    <a href="@Url.Action("Creates","Reservas", new {Id = Model.Id})" class="btn btn-primary"><i>Reservar ya</i></a>

    <a class="btn btn-primary" asp-action="Index">Regresar</a>
</div>

